################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Movies.Api/bin/Debug/net5.0
/Movies.Api/obj
