################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Movies.Api/bin/Debug/net5.0
/Movies.Api/obj
/IdentityServer/bin/Debug/net5.0
/IdentityServer/obj
/Movies.Client/bin/Debug/net5.0
/Movies.Client/obj
/ApiGateway/bin/Debug/net5.0
/ApiGateway/obj
